body {
    font-family: Arial, sans-serif;
    background-color: #fea116; /* Ethio Telecom color */
    text-align: center;
    padding: 50px;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    display: inline-block;
}

h1 {
    color: #6a040f; /* Ethio Telecom color */
}

input {
    display: block;
    margin: 10px auto;
    padding: 8px;
    width: 200px;
}

button {
    background-color: #6a040f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #ff9900;
}
